@font-face{
	font-family: "PangMenZhengDao";
	src: url("PangMenZhengDao.ttf");
}

@font-face{
  font-family: "PingFang-SC-Medium";
  src: url("PingFang-Medium.ttf");
}

@font-face{
  font-family: "PingFang-SC";
  src: url("PingFang-Regular.ttf");
}

@font-face{
  font-family: "ORBITRON";
  src: url("ORBITRON-BOLD.ttf");
}

